<div class="form">
<form #registerForm="ngForm">
        
          <div class="form-group">
            <input type="text" class="form-control" name="name" #_id="ngModel" [(ngModel)]="registersService.selectedRegister.name" 
            placeholder="Ingrese su nombre">
          </div>
          <div class="form-group">
            <input type="email" class="form-control" name="username" placeholder="ingrese su usuario" #_id="ngModel" [(ngModel)]="registersService.selectedRegister.username">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="ingrese su contrasena" #_id="ngModel" [(ngModel)]="registersService.selectedRegister.password">
          </div>
          <button class="btn btn-danger" style="margin: 10px"  
          (click)="getUserName(registerForm)" (click)="resetForm(registerForm)">  
            REGISTER
          </button>
        </form>
</div>