<div class="padre" style="background: black;">
  <img src="https://ssl.quiksilver.com/static/QS/default/category-assets/experiences/2020/stylebook_originals/img/header/213-ENDLESS-TRIP-header.jpg" 
  border-item="1" width="-1%" height="300" style="text-align: center; background: black" >
</div>


<div style="text-align:center;" >
<iframe width="1065" height="599" src="https://www.youtube.com/embed/QFKtPVpOPww" 
	title="YouTube video player"  frameborder="0" allow="accelerometer; muted;  clipboard-write; encrypted-media; 
	gyroscope; picture-in-picture" allowfullscreen ></iframe>
</div>